/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Rounded;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-colour: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-colour: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-colour: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-colour: #000000;
	max-id: 4;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	overflow: hidden;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-colour: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-colour: #000000;
	name: Header1;
	id: 2;
	background-colour: #808080;
	colour: #ffffff;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	text-align: center;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-colour: #d3d3d3;
	separator-style: solid;
	separator-width: 1px;
	separator-colour: #d3d3d3;
	vertical-align: top;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-colour: #d3d3d3;
	name: Body1;
	id: 1;
	vertical-align: top;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
}


/* Cell Styles: */
 
.TableStyle-Rounded
{
	border-collapse: separate;
	overflow: hidden;
	border-left-style: solid;
	border-left-colour: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-colour: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-colour: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-colour: #000000;
	border-bottom-width: 1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-Rounded-Column-Column1
{
	
}

.TableStyle-Rounded-Head-Header1
{
	
}

.TableStyle-Rounded-HeadI-Column1-Header1
{
	colour: #ffffff;
	text-align: center;
	vertical-align: middle;
	background-colour: #808080;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-HeadI-Column1-Header1 p
{
	colour: #ffffff;
}

.TableStyle-Rounded-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-colour: #000000;
	border-right-style: solid;
	colour: #ffffff;
	text-align: center;
	vertical-align: middle;
	background-colour: #808080;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-colour: #000000;
	border-bottom-style: solid;
}

.TableStyle-Rounded-HeadE-Column1-Header1 p
{
	colour: #ffffff;
}

.TableStyle-Rounded-HeadF-Column1-Header1
{
	colour: #ffffff;
	text-align: center;
	vertical-align: middle;
	background-colour: #808080;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-colour: #000000;
	border-bottom-style: solid;
}

.TableStyle-Rounded-HeadF-Column1-Header1 p
{
	colour: #ffffff;
}

.TableStyle-Rounded-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-colour: #000000;
	border-right-style: solid;
	colour: #ffffff;
	text-align: center;
	vertical-align: middle;
	background-colour: #808080;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-HeadH-Column1-Header1 p
{
	colour: #ffffff;
}

.TableStyle-Rounded-HeadD-Column1-Header1
{
	colour: #ffffff;
	text-align: center;
	vertical-align: middle;
	background-colour: #808080;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-colour: #000000;
	border-bottom-style: solid;
}

.TableStyle-Rounded-HeadD-Column1-Header1 p
{
	colour: #ffffff;
}

.TableStyle-Rounded-HeadC-Column1-Header1
{
	colour: #ffffff;
	text-align: center;
	vertical-align: middle;
	background-colour: #808080;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-HeadC-Column1-Header1 p
{
	colour: #ffffff;
}

.TableStyle-Rounded-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-colour: #000000;
	border-right-style: solid;
	colour: #ffffff;
	text-align: center;
	vertical-align: middle;
	background-colour: #808080;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-HeadB-Column1-Header1 p
{
	colour: #ffffff;
}

.TableStyle-Rounded-HeadA-Column1-Header1
{
	colour: #ffffff;
	text-align: center;
	vertical-align: middle;
	background-colour: #808080;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-HeadA-Column1-Header1 p
{
	colour: #ffffff;
}

.TableStyle-Rounded-HeadG-Column1-Header1
{
	colour: #ffffff;
	text-align: center;
	vertical-align: middle;
	background-colour: #808080;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-HeadG-Column1-Header1 p
{
	colour: #ffffff;
}

.TableStyle-Rounded-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-FootI-Column1- p
{
	
}

.TableStyle-Rounded-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-colour: #000000;
	border-right-style: solid;
}

.TableStyle-Rounded-FootE-Column1- p
{
	
}

.TableStyle-Rounded-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-FootF-Column1- p
{
	
}

.TableStyle-Rounded-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-colour: #000000;
	border-right-style: solid;
}

.TableStyle-Rounded-FootH-Column1- p
{
	
}

.TableStyle-Rounded-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-FootD-Column1- p
{
	
}

.TableStyle-Rounded-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-FootC-Column1- p
{
	
}

.TableStyle-Rounded-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-colour: #000000;
	border-right-style: solid;
}

.TableStyle-Rounded-FootB-Column1- p
{
	
}

.TableStyle-Rounded-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-FootA-Column1- p
{
	
}

.TableStyle-Rounded-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-FootG-Column1- p
{
	
}

.TableStyle-Rounded-Body-Body2
{
	
}

.TableStyle-Rounded-BodyI-Column1-Body2
{
	vertical-align: top;
	background-colour: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Rounded-BodyE-Column1-Body2
{
	vertical-align: top;
	background-colour: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-colour: #d3d3d3;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-colour: #000000;
	border-right-style: solid;
}

.TableStyle-Rounded-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Rounded-BodyF-Column1-Body2
{
	vertical-align: top;
	background-colour: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-colour: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-Rounded-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Rounded-BodyH-Column1-Body2
{
	vertical-align: top;
	background-colour: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-colour: #000000;
	border-right-style: solid;
}

.TableStyle-Rounded-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Rounded-BodyD-Column1-Body2
{
	vertical-align: top;
	background-colour: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-colour: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-Rounded-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Rounded-BodyC-Column1-Body2
{
	vertical-align: top;
	background-colour: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Rounded-BodyB-Column1-Body2
{
	vertical-align: top;
	background-colour: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-colour: #000000;
	border-right-style: solid;
}

.TableStyle-Rounded-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Rounded-BodyA-Column1-Body2
{
	vertical-align: top;
	background-colour: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Rounded-BodyG-Column1-Body2
{
	vertical-align: top;
	background-colour: #d3d3d3;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-BodyG-Column1-Body2 p
{
	
}

.TableStyle-Rounded-Body-Body1
{
	
}

.TableStyle-Rounded-BodyI-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Rounded-BodyE-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-colour: #d3d3d3;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-colour: #000000;
	border-right-style: solid;
}

.TableStyle-Rounded-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Rounded-BodyF-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-colour: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-Rounded-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Rounded-BodyH-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-colour: #000000;
	border-right-style: solid;
}

.TableStyle-Rounded-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Rounded-BodyD-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-colour: #d3d3d3;
	border-bottom-style: solid;
}

.TableStyle-Rounded-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Rounded-BodyC-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Rounded-BodyB-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-colour: #000000;
	border-right-style: solid;
}

.TableStyle-Rounded-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Rounded-BodyA-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Rounded-BodyG-Column1-Body1
{
	vertical-align: top;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Rounded-BodyG-Column1-Body1 p
{
	
}

