/* Fotech Core CSS file
 * Copyright 2018 Fotech Solutions.
 * --------------------------------
 *
 * Contains core CSS descriptions for simplified UI and semantic layout
 */

/* There exists a large amount of CSS and layout already, namespace all the "core"
 * layouts to avod confusion and namespace collision
 */

 section.core {

 }

 section.core fieldset label {
     width: 187px;
 }

 section.core.scroll366 {
     position: relative;
     top: -10px;
     height: 366px;
     overflow-y: scroll;
 }

/* fields live within fieldsets */
fieldset.core {
    width: auto !important;  /* Force an override of this */
    padding: 0px;
    border: none;
    margin: 0px;
    margin-top: 5px;
}

fieldset.core legend {
    font-weight: normal;
    margin-bottom: 3px;
}

fieldset.core fieldset.undecorated {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

/* place fieldsets fields within lists, this allows labels and legends to be
 * used in a simple fashion */

fieldset.core ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

fieldset.core ul > li {
    position: relative;
    margin: 3px 0px;
}

fieldset.core ul > li > label:first-of-type {
    font-weight: bold;
    display: inline-block;
}

fieldset.core ul li div.default {
    float: right;
}

fieldset.core ul > li > label.disabled {
}

fieldset.core ul > li > label > span {
    font-weight: normal;
}

fieldset.core ul > li > label.disabled img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
         filter: grayscale(100%);
    opacity: 1.0 !important;
}


fieldset.core ul > li > label.top:first-of-type,
fieldset.core ul > li.top > label:first-of-type {
    vertical-align: top;
}

fieldset.core ul > li > div.top,
fieldset.core ul > li.top > div {
    display: inline-block;
}

fieldset.core ul > li.choice > input[type=checkbox] {
    margin-left: 187px;
}

fieldset.core ul > li > div.note {
    margin-left: 200px;
    padding: 4px;
}

fieldset.core ul > li > div.linked {
    position: relative;
    top: 15px;
    display: inline-block;
}

fieldset.core ul > li > fieldset {
    width: auto !important;
    padding: 4px;
    border: none !important;
    margin: 0px !important;
}

fieldset.core > fieldset {
    margin-bottom: 10px;
}

#channel_tabs fieldset.core > ul > li > label,
#hardware_dialog fieldset.core > ul > li > label,
#zone_properties_dialog fieldset.core > ul > li > label,
#application_properties_dialog fieldset.core > ul > li > label {
    width: 200px;
}

/* Flashy error messages */
.core.fieldError,
.core .fieldError {
    background-color: #ffcccc;
    animation: pulseErrorField .4s infinite;
}

@keyframes pulseErrorField {
    0% {
        background-color: white;
    }
    50% {
        background-color: #ffcccc;
    }
    100% {
        background-color: white;
    }
  }

/* The compute units dialog */

.core.computeunits table {
    border-collapse: collapse;
    width: 100%;
}

.core.computeunits table th {
    padding: 4px;
}

.core.computeunits table td {
    border-bottom: 1px solid #c0c0c0;
    padding: 4px;
    vertical-align: top;
    padding-bottom: 8px;
}

.core.computeunits table .unit {
    white-space: nowrap;
}

/* Advanced fields */

.core fieldset[data-core-advanced] {
    border: none;
    padding: 0px;
    border-bottom: 1px solid #c0c0c0;
}

.core fieldset[data-core-advanced].hidden {
    border-bottom: 0px;
}

.core fieldset[data-core-advanced] > legend {
    padding-right: 3px;
    padding: 0px;
    color: #3399ff;
    cursor: pointer;
}

.core fieldset[data-core-advanced] > legend::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #3399ff;
    clear: both;
    margin-top: 3px;
    margin-left: 4px;
}

.core fieldset[data-core-advanced].hidden > legend::after {
    border:none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #3399ff;
}

/* Helios Core menu buttons, those that control zoom, movement etc */

.core.menuButton,
.core .menuButton {
    font-size: 1.0rem;
    color: #808080;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.core.menuButton .control,
.core .menuButton .control,
.core.menuButton input[type=text],
.core .menuButton input[type=text] {
    font-size: 1.0rem;
    background: white;
    border: 1px solid #c0c0c0;
    border-radius: 8px;
}

.core.menuButton:hover,
.core .menuButton:hover {
    color: #3399ff;
}

.core.menuButton .control:hover,
.core .menuButton .control:hover,
.core.menuButton:hover input[type=text],
.core .menuButton:hover input[type=text]{
    border-color: #3399ff;
}

.core.menuButton.selected,
.core .menuButton.selected {
    font-size: 1.0rem;
    color: #3399ff;
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid transparent;
    background-color: transparent;
}

.core.menuButton.enabled,
.core .menuButton.enabled {
    color: #3399ff;
}

.core.menuButton.disabled,
.core .menuButton.disabled {
    color: #a0a0a0;
}

.core.menuButton.disabled:hover,
.core .menuButton.disabled:hover {
    color: #a0a0a0;
}

.core.maintoolbar {
    border-radius : 20px;
    background-color: #f2f2f2;
    border: 1px solid #c0c0c0;
    padding: 0px 8px;
    position: absolute;
    white-space: nowrap;
    transform: translate( -50%, 0% );
    margin-top: 3px;
    box-shadow: 0px 0px 5px 0px #c0c0c0;
}

.coreToolbarAutohide .container {
    z-index: 9;
}

.coreToolbarAutohide .container {
    transition: 100ms opacity linear;
    opacity: 0.0;
}

.coreToolbarAutohide:hover .container {
    opacity: 1.0;
}

.coreToolbarAutohide > .handle {
    opacity: 1;
    display: inline;
    position: absolute;
    transform: translate( -50%, 0% );
    color: #0099ff;
    font-size: 14pt;
    z-index: 2;
}

/* Dropdowns */
select[data-core-dropdown]{
    font-size: 1.0rem;
}

.coreDropDown {
    position: relative;
}

.coreDropDownMarker {
    padding-left: 10px;
    padding-right: 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.coreDropDownMarker.coreDropDownOpen {
    color: #202020 !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom: 1px solid #f0f0f0 !important;
}

.coreDropDown:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #202020;
    clear: both;
    right: 6px;
    top: 7px;
    pointer-events: none;
}


.coreDropDown .coreDropDownMenu {
    position: fixed;
    color: #202020;
    border: 1px solid #c0c0c0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid #f0f0f0 !important;
    background: white;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 2px;
    font-size: 1.1rem;
    margin-bottom: 2px;
}

.coreDropDown:hover .coreDropDownMenu {
    color: #202020;
}

.coreDropDown .coreDropDownMenu .coreDropDownMenuOption {
    margin-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.coreDropDown .coreDropDownMenu .coreDropDownMenuOption:hover .coreDropDownMenuOptionText {
    color: #3399ff;
}

/* Event management */

.core.coremenu .eventtracker {
    height: 400px;
    border-top: 1px soli #c0c0c0;
    overflow: auto;
}

.core.coremenu .event {
    border-left: 2px solid #0099ff;
    border-bottom: 1px solid #c0c0c0;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 2px;
    padding: 3px;
    height: 60px;
    cursor: pointer;

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );

}

.core.coremenu .event.selected {
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );
}

.core.coremenu .event img {
    float: left;
}

.core.coremenu .event .details {
    float: left;
    margin-left: 40px;
    font-size: 12pt;
}

.core.coremenu .event .details .time,
.core.coremenu .event .details .distance {
    font-size: 10pt;
    color: #808080;
}

/* Core File Lists (mostly used for the snapshot dialogues */
.coreFileList td {
    vertical-align: top;
}

.coreFileList td div {
    padding: 2px 10px;
}

.coreFileList td div.size,
.coreFileList td div.date,
.coreFileList td div.info {
    display: inline-block;
    color: #505050;
    font-size: 0.8rem;
    min-width: 90px;
}

.coreFileList td div.info {
    display: none;
}

.coreFileList td div.info.converting {
    float: right;
    display: inline-block;
}

/* Alarm generator */
.core .coreAlarmGenerator,
.core.coreAlarmGenerator {

}

.core .coreAlarmGenerator .details,
.core.coreAlarmGenerator .details {
    margin: 2px;
}

.core .coreAlarmGenerator .details .coreAlarm,
.core.coreAlarmGenerator .details .coreAlarm {
    margin: 2px;
    border: 1px solid #c0c0c0;
    height: 24px;
}

.core .coreAlarmGenerator .details .coreAlarm .description,
.core.coreAlarmGenerator .details .coreAlarm .description {
    padding-left: 10px;
}

.core .coreAlarmGenerator .details .coreAlarm img,
.core.coreAlarmGenerator .details .coreAlarm img {
    padding: 2px 2px;
    float: left;
}

.core .coreAlarmGenerator .details .controls,
.core.coreAlarmGenerator .details .controls {
    float: right;
    font-size: 12px;
}


.core .coreAlarmGenerator .details .play,
.core.coreAlarmGenerator .details .play,
.core .coreAlarmGenerator .details .stop,
.core.coreAlarmGenerator .details .stop {
    padding: 3px;
    color: #0099ff;
}

.core .coreAlarmGenerator .details .delete,
.core.coreAlarmGenerator .details .delete {
    padding: 3px;
    color: red;
}

/* Radio options, a horizontally selected list */

div.coreChooser {
    border: 1px solid #d0d0d0;
/*    border-radius: 12px; */
    white-space: nowrap;
    padding: 2px;
    padding-right: 10px;
    padding-bottom: 3px;
    float: left;
    margin-left: -1px;
    border-right: none;
}

div.coreChooser:first-of-type {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

div.coreChooser:last-of-type {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid #d0d0d0;
}



div.coreChooser.selected {
    background-color: #cce6ff;
}

/* Checkboxes */
.coreCheckbox {
    padding: 0px;
    white-space: nowrap;
    display: inline-block;
    overflow: none;
    text-align: top;
    width: 35px;
}

.coreCheckbox > input[type="checkbox"]{
    display: none;
}

.coreCheckbox .slider {
    padding: 0px !important;
    border: 1px solid #c0c0c0;
    border-radius: 10px !important;
    margin: 0px !important;
    height: 14px;
    cursor: pointer;
}

/* Controls when "on" */
.coreCheckbox .slider.on {
    background-color: #47d147;
    border-color: #47d147;
}

.coreCheckbox .slider.on .knob {
    border-color: #47d147;
    float: right;
}

.coreCheckbox .slider.on .on {
    padding: 4px;
    color: white;
}


.coreCheckbox.on .off {
    display: none;
}

/* Controls when "off" */
.coreCheckbox .slider.off {
    background-color: #e0e0e0;
}

.coreCheckbox .slider.off .knob {
    float: left;
}

.coreCheckbox .slider.off .off {
    padding: 4px;
    color: #808080;
}

.coreCheckbox.off .on {
    display: none;
}

/* The normal underlying knob */

.coreCheckbox .slider .knob {
    width: 18px;
    height: 18px;
    background-color: white;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    display: inline-block;
    pointer-events: none;
    margin: -3px;
}

/* "Default" sliders - i.e. those that control whether to use a default value
 * or not are, conceptually, the wrong way round, a "custom" value appears to
 * be the positive connotation, rather than "use the normal one", so we should
 * invert the logic of the slider .. */

.default .coreCheckbox {
    width: 70px;
}

.default .coreCheckbox .slider.off {
    background-color: #47d147;
    border-color: #47d147;
}

.default .coreCheckbox .slider.off .knob {
    border-color: #47d147;
    float: right;
}

.default .coreCheckbox .slider.off .off {
    padding: 4px;
    color: white;
}


/* Controls when "off" */
.default .coreCheckbox .slider.on {
    background-color: #e0e0e0;
    border-color: #c0c0c0;
}

.default .coreCheckbox .slider.on .knob {
    border-color: #c0c0c0;
    float: left;
}

.default .coreCheckbox .slider.on .on {
    padding: 4px;
    color: #808080;
}

/* Core sliders */

.coreSlider {
    display: inline-block;
    width: 270px;
    padding-top: 0px;
    margin-right: 4px;
}

.coreSlider select {
    display: none;
}

.coreSlider .bar {
    background: #c0c0c0;
    position: relative;
    height: 4px;
    border-radius: 3px;
    width: 100%;
}

.coreSlider.width .bar {
    background: transparent;
    position: relative;
    height: 1px;
    border: 270px solid #c0c0c0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 20px transparent;
    border-radius: 0px;
    width: 0px;
}

.coreSlider .knob {
    background: #f0f0f0;
    border: 1px solid #808080;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    margin-top: -11px;
    margin-left: -8px;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px #0099ff;
    
    font-size: 11px;
    text-align: center;
}

.coreSlider.width .knob {
    margin-top: -14px;
}

.coreSlider .knob .inner {
    margin-top: 2px;
    display: none;
}

.coreSlider.onoff .knob .inner {
    display: inline-block;
    color: #0099ff;
}

.coreSlider.onoff.off .knob .inner {
    color: #a0a0a0;
}

.coreSlider .ticks {
    margin-top: 5px;
    position: relative;
    padding: 0px;
}

.coreSlider .ticks .tick {
    display: inline-block;
    position: absolute;
    text-align: left;
    font-size: 8px;
    color: #505050;
}

.coreSlider .ticks .tick.major {
    border-left: 1px solid #c0c0c0;
    height: 20px;
}

.coreSlider .ticks .tick.minor {
    border-left: 1px solid #d0d0d0;
    height: 15px;
}

.coreSlider .ticks .tick.none {
    height: 20px;
}


.coreSlider .ticks .marker {
    display: inline-block;
    position: absolute;
    text-align: center;
    height: 10px;
    font-size: 8px;
    color: #505050;
    margin-top: 23px;
    width: 10px;
    margin-left: -5px;
}

.coreSlider .ticks .marker.major {
}

.coreSlider .ticks .marker.minor {
    visibility: hidden;
}

.coreSlider .ticks .marker.none {
    visibility: hidden;
}


.coreSlider .panel {
    text-align: right;
    font-size: 10px;
    margin-top: 20px;
    margin-bottom: 8px;
    color: #202020;
}

/* Core options */

.coreOptionEnabled {
    font-weight: bold;
}


/* Notifications panels */
.core.coreNotification {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    width: 320px;
    background-color: white;
    border: 2px solid #c0c0c0;
    border-radius: 8px;

    background-image: none !important;
    background-size: auto !important;
    background-repeat: initial !important;

    transition: opacity 2s ease-in;
    transition: bottom .5s linear;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.core.coreNotification.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}

.core.coreNotification .icon {
    font-size: 2rem;
    padding: 10px;
    display: inline-block;
}

.core.coreNotification .message {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    width: 240px;
}

.core.coreNotification .message .title {
    font-size: 1.0rem;
}

.core.coreNotification .dismiss {
    float: right;
}

.core.coreNotification.ok {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.core.coreNotification.warning {
    color: #e67300;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.core.coreNotification.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.core.coreNotification.info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}


/* Dialog variations */

section.core.dialog {
    padding: 5px 15px !important;
}

section.core.dialog fieldset li > label {
    display: block;
}


img.coreDynamic {
    cursor: pointer;
    float: right;
}

/* Resizable Grids */

.coreResizableGrid > .handle {
    position: absolute;
    width: 100%;
    height: 5px;
    z-index: 3;
    border-bottom: 1px dashed #808080;
    margin-top: -5px;
    cursor: ns-resize;
}

/* Tooltips */
.coreTooltip {
    position: relative;
    display: inline;
}

.coreTooltip.empty {
    display: none !important;
}

.coreTooltip span.tooltips {
    position: absolute;
    color: #b0b0b0;
    background: #404040;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
    box-shadow: 3px 3px 5px rgba(0,0,0,128);
    padding: 4px 4px;
    transition: 500ms opacity;
    opacity: 0;
}
.coreTooltip span.tooltips:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
.coreTooltip:hover span.tooltips {
    visibility: visible;
    opacity: 1.0;
    bottom: 30px;
    left: 50%;
    transform: translateX( -50% );
    z-index: 9999;
    transition-delay: 500ms;
}

.coreTooltip span.tooltips .extra {
    text-align: left;
}

[data-core-tooltip-bottom].coreTooltip span.tooltips:after {
    top: initial !important;
    bottom: 100%;
    border-top: none;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

[data-core-tooltip-bottom].coreTooltip:hover span.tooltips {
    bottom: 0px;
    transform: translate( -50%, 100% );
}

/* Force the new UI to be at a suitably low z-index */
#app {
    z-index: 5 !important; /* marked as important to force the issue */
}