section.organisation > legend {
    background: #0099ff;
    padding: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin-top: -5px;
    margin-left: -5px;
    width: 100%;
}

section.organisation {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #c0c0c0;
    background: white;
    padding: 5px;
    box-shadow: 0px 2px 5px 2px #c0c0c0;
    margin-bottom: 8px;
}

section.route > legend {
    font-size: 1.2rem;
    margin: 10px;
    font-weight: bold;
}

section.controls {
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #c0c0c0;
}

section.route table {
    margin-left: 50px;
}

section.route table thead {
    border-bottom: 1px solid #c0c0c0;
}

section.route th,
section.route td {
    vertical-align: top;
    padding: 5px 12px;
}

section.route th.num,
section.route td.num {
    text-align: right;
}

section.route .firstcell {
    text-align: right;
    height: 45px;
}

section.route .firstcell > .marker {
    font-size: 1.1rem;
    font-weight: bold;
    display: inline-block;
}

section.route .firstcell > .details strong {
    color: #808080;
}

section.route .firstcell > .id {
    color: #808080;
}

section.route .firstcell > .details {
    display: inline-block;
    font-size: 0.8em;
    padding: 2px 10px;
}

section.route .firstcell > .details div {
    display: inline-block;
}

section.route table {
    border-collapse: collapse;
}

tbody.path:hover {
    background-color: #f0f0ff;
}

section.route .firstcell .control {
    display: none;
}

section.route tbody:hover .control {
    display: block;
}

.button {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 3px 3px;
    border-radius: .25rem;
    font-size: 0.7em;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.button.ok {
    color: white;
    background-color: #28a745;
    border-color: #28a745;
}

.button.ok:hover {
    background-color: #46d267;
    border-color: #46d267;
}

.button.danger {
    color: white;
    background-color: #dc3545;
    border-color: #dc3545;
}

button.danger:hover {
    background-color: #e46774;
    color: #e46774;
}