/* FILENAME:     fibre_graph_canvas.css
 * AUTHOR:       Steven Klassen
 * CREATED ON:   2009-11-18
 * 
 * LAST CHANGE:
 * $Author$
 *   $Date$
 *    $Rev$
 *    $URL$
 *
 * COPYRIGHT:
 * This file is Copyright © 2009 Fotech Solutions Ltd. All rights reserved.
 */


div#fibre_status_panel {
    font-size: smaller;
    opacity: 0.70;
}

div#fibre_status_panel .bd {
    padding-top: 2px;
    padding-bottom: 2px;
}

div#fibre_status_panel_c {
    width: 275px;
}