<!DOCTYPE html>

<html lang="en">
<head>

<!-- Licenses Description file
     Details licenses found within the Fotech products
     (c) 2018 Fotech Solutions limited.
-->

<head>
	<title>Fotech Solutions - Panoptes <%= APP_CONFIG["monitor"]["version"] %> Open Source Licenses</title>
	<script src="/javascripts/fotech/common_gui/yahoo/build/yahoo-dom-event/yahoo-dom-event.js" type="text/javascript"></script>
	<script src="/javascripts/licenses.js" type="text/javascript"></script>
	<link href="/stylesheets/licenses.css" rel="stylesheet" type="text/css" />
</head>

<%# Load the appropriate Javascript for this page %>
<body>
	<img src='/images/fotech/common_gui/fotech_branding.png' class="logo">
	<h1>Help</h1>
	<div class="product">
		Panoptes <%= APP_CONFIG["monitor"]["version"] %>
	</div>
	<br/>

	<div class="product">
		<p><a href="/documents/user-manual/index.htm">User manual</a></p>
    <p><a href="/documents/system_integration/index.html">System Integration manual</a></p>
		<%@pdfs.each do |pdf|%>
		<p><a href="/<%=pdf%>"><%=pdf%></a></p>
		<%end%>
	</div>
</body>
