<section class="eula">
    <strong>End-User License Agreement ("EULA") </strong>
    <section>
        <p>
            By using the software of Fotech Group or its subsidiaries ("Fotech"), you agree to the following
            terms and conditions.
            If you do not agree with such terms and conditions do not use the software.
        </p>
        <p>
            This Software and all information relating it (the "Software") is provided in strict confidence.
            You agree that you will not in any form, in whole or part, reproduce, disseminate, copy, disclose,
            modify, distribute, port, translate, unbundle, or publish the Software without the express written
            permission of FOTECH. You will not attempt to replicate this Software in whole or part. You will
            not reverse engineer, decompile, disassemble, or otherwise attempt to discover the source code of
            the Software. You agree that you will not use this Software directly or indirectly to procure a
            commercial disbenefit to FOTECH (including without limitation to support any patent applications
            being made by you or to obtain or submit evidence to support an allegation of patent infringement).
            You will not remove or alter any FOTECH logo, copyright or any other proprietary notices that
            appear on or in the Software. The Software is the intellectual property of and is owned by FOTECH
            and its suppliers. You will not make any inventions or developments using or based on this Software,
            and if any such inventions or developments are made, you will assign all rights in them to FOTECH.
            The structure, organization, and source code of the SOFTWARE are the valuable trade secrets and
            confidential information of FOTECH and its suppliers. The SOFTWARE is protected by law, including
            but not limited to the copyright laws of the United States, the United Kingdom, and other countries,
            and by international treaty provisions. Any breach may result in severe civil and criminal penalties.
            This EULA does not grant you any intellectual property rights in the SOFTWARE. All rights not
            expressly granted are reserved by FOTECH and its suppliers.
        </p>
        <p>
            The export and re-export of FOTECH’S SOFTWARE is controlled by the US and UK Export Control
            Authorities and such Software may not be exported or re-exported to any country, individual or
            organisation to which the US or UK embargoes or places restriction on such goods. This SOFTWARE
            is LICENSED, NOT SOLD, in accordance with the terms of this EULA. YOU WILL NOT RENT, LEASE, SELL,
            SUBLICENSE, ASSIGN, OR TRANSFER ITS RIGHTS IN THE SOFTWARE OR AUTHORIZE ANY PORTION OF THE SOFTWARE
            TO BE COPIED ONTO ANOTHER INDIVIDUAL OR LEGAL ENTITY’S COMPUTER.
        </p>
        <p>
            DISCLAIMER OF WARRANTIES: YOU AGREE THAT FOTECH HAS MADE NO EXPRESS WARRANTIES TO YOU REGARDING
            THE SOFTWARE AND THAT THE SOFTWARE IS BEING PROVIDED TO YOU "AS IS" WITHOUT WARRANTY OF ANY KIND.
            ACCESS TO AND USE OF ANY OUTPUT FILES CREATED WITH THE SOFTWARE IS ENTIRELY AT YOUR OWN RISK.
            FOTECH DISCLAIMS ALL WARRANTIES WITH REGARD TO THE SOFTWARE, EXPRESS OR IMPLIED, INCLUDING, WITHOUT
            LIMITATION, ANY IMPLIED WARRANTIES OF FITNESS FOR A PARTICULAR PURPOSE, MERCHANTABILITY,
            MERCHANTABLE QUALITY, OR NONINFRINGEMENT OF THIRD-PARTY RIGHTS. LIMIT OF LIABILITY: IN NO EVENT
            WILL FOTECH BE LIABLE TO YOU OR ANY THIRD-PARTY FOR ANY LOSS OF USE, INTERRUPTION OF BUSINESS, OR
            ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND (INCLUDING LOST
            PROFITS) REGARDLESS OF THE FORM OF ACTION WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT
            PRODUCT LIABILITY OR OTHERWISE, EVEN IF FOTECH HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        </p>
        <p>
            Fotech Group is registered at Chertsey Road, Sunbury On Thames, Middlesex, United Kingdom, England,
            TW16 7BP; contact us at www.fotech.com for further information.
        </p>
    </section>
</section>