/* FILENAME:     organizations.css
 * AUTHOR:       Steven Klassen
 * CREATED ON:   2009-06-01
 * 
 * LAST CHANGE:
 * $Author$
 *   $Date$
 *    $Rev$
 *    $URL$
 *
 * COPYRIGHT:
 * This file is Copyright © 2009 Fotech Solutions Ltd. All rights reserved.
 */

div#organization_form_c {
    left: 10px;
    top: 65px;
    z-index: 5;
}
